<!-- your html code here -->
<div class="container-fluid bg-white p-5">
    <h1><bold>Portfolio</bold></h1>
    <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis eusimod semper. Praesent commodo cursus
         magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="https://imgs.search.brave.com/4__SBh-wLK00aBz2Xp4QZLyujkZbMnM4Z1fN7aK8TUQ/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTQw/Mzg5NzI0MS9waG90/by91bml2ZXJzaXR5/LXN0dWRlbnRzLXN0/dWR5aW5nLXRvZ2V0/aGVyLWluLXRoZS1s/aWJyYXJ5LmpwZz9z/PTYxMng2MTImdz0w/Jms9MjAmYz1QejJp/ckxrZ3pKNlNoWmNl/RkZwNG9aN2kyNDJT/WEJTeUFVSUJOekVh/TU5zPQ" width="700" height="400" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam viverra euismod odio, gravida pellentesque urna
                        varius vitae.</p>
                </div>
                
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://imgs.search.brave.com/M6-48DGiuiS9lea9qH2xPAZFQGfYkHlg8t_6SDm0oqQ/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTQz/MDcxNDQ2L3Bob3Rv/L3N0dWRlbnQtd29y/a2luZy1pbi1saWJy/YXJ5LWF0LW5pZ2h0/LmpwZz9zPTYxMng2/MTImdz0wJms9MjAm/Yz1vNDZlQ3lKSW05/RGtrd3pXd09qc1ZH/S1Z6a2Y0RkY0UUhp/TGFlTnd6Zm1JPQ" height="400" width="700" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam viverra euismod odio, gravida pellentesque urna
                        varius vitae.
                    </p>
                </div>
                
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://imgs.search.brave.com/iK34cDZH4sbGnNhghJdzFJ3qyfpL84ZE0IUjKXEg9WA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTMy/Mzg1MTk3Ni9waG90/by9jbGFzc21hdGVz/LWFyZS1sZWFybmlu/Zy10aHJvdWdoLWxh/cHRvcC5qcGc_cz02/MTJ4NjEyJnc9MCZr/PTIwJmM9TnAxb3NM/R01hLWIxaktMdnJw/dGVKQk85dmluaGtT/SGtSVmdnLTdWQU9B/az0" width="700" height="400" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam viverra euismod odio, gravida pellentesque urna
                        varius vitae.</p>
                </div>
                
            </div>
        </div>
    </div>
</div>